.footer_section {
  padding-bottom: 40px;
}
.footer_section .container_wrap {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
.footer_section .footer_content_wrap {
  margin-inline: 40px;
  background-color: var(--primary-color);
  border-radius: 16px;
  padding: 50px 60px;
}
.footer_section .footer_content_wrap .footer_grid {
  grid-column-gap: 24px;
  grid-row-gap: 2.5rem;
  border-bottom: 1px solid var(--color-red-400);
  flex-flow: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
  padding-bottom: 50px;
  display: flex;
}
.footer_section .footer_content_wrap .footer_grid .footer_content {
  max-width: 30%;
}
.footer_section .footer_content_wrap .footer_grid .footer_content a {
  text-decoration: none;
}
.footer_section .footer_content_wrap .footer_grid .footer_content a img {
  width: 120px;
}
.footer_section .footer_content_wrap .footer_grid .footer_content p {
  color: var(--white-color);
  margin: 0;
  font-size: 14px;
  margin-block: 16px;
}
.footer_section .footer_content_wrap .footer_grid .footer_content form {
  display: flex;
  gap: 10px;
}
.footer_section .footer_content_wrap .footer_grid .footer_content form input {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px #000;
  border-radius: 8px;
  height: auto;
  margin-bottom: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 400;
}
.footer_section .footer_content_wrap .footer_grid .footer_content form input:focus {
  outline: none;
}
.footer_section .footer_content_wrap .footer_grid .footer_content form .submit_button {
  background-color: var(--white-color);
  color: var(--primary-color);
}
.footer_section .footer_content_wrap .footer_grid .footer_link {
  max-width: 120px;
  gap: 18px;
  flex-flow: column;
  width: 100%;
  display: flex;
}
.footer_section .footer_content_wrap .footer_grid .footer_link h6 {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  margin: 0;
}
.footer_section .footer_content_wrap .footer_grid .footer_link ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer_section .footer_content_wrap .footer_grid .footer_link ul li a {
  color: var(--white-color);
}
.footer_section .footer_content_wrap .footer_grid .contact_us {
  max-width: 30%;
}
.footer_section .footer_content_wrap .footer_grid .contact_us ul li {
  display: flex;
  gap: 10px;
  align-items: start;
}
.footer_section .footer_content_wrap .footer_grid .contact_us ul li svg {
  margin-top: 6px;
  color: var(--white-color);
}
.footer_section .footer_content_wrap .footer_bottom {
  display: flex;
  justify-content: center;
}
.footer_section .footer_content_wrap .footer_bottom span {
  color: var(--white-color);
  opacity: 0.5;
}

@media (max-width: 767px) {
  .footer_section .footer_content_wrap {
    padding: 32px 20px;
  }
  .footer_section .footer_content_wrap .footer_grid .footer_content,
  .footer_section .footer_content_wrap .footer_grid .contact_us {
    max-width: 70%;
  }
}
@media (max-width: 479px) {
  .footer_section .footer_content_wrap {
    margin-inline: 16px;
  }
  .footer_section {
    padding-bottom: 16px;
  }
  .footer_section .footer_content_wrap .footer_grid .footer_content,
  .footer_section .footer_content_wrap .footer_grid .contact_us {
    max-width: 100%;
  }
  .footer_section .footer_content_wrap .footer_grid .footer_content form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer_section .footer_content_wrap .footer_grid .footer_content form input {
    width: 100%;
  }
}/*# sourceMappingURL=Footer.css.map */